<form action="/names" method="post">
      <label for='name'>Player 1 Name:</label>
      <input id="name" type="text" name="player_1">
      <label for='name'>Player 2 Name:</label>
      <input id="name_1" type="text" name="player_2">
      <input id="submit" type="submit" value="submit">
</form>
